<!DOCTYPE html>
<html lang="en"  xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User Data</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object ="${user}">
  <label for="name">name</label>
  <input name="name" th:field="*{name}" id="name">
  <br>
  <label for="lastname">lastname</label>
  <input name="lastname" th:field="*{lastName}" id="lastname">
  <br>
  <label for="workPlace">workplace</label>
  <input name="workPlace" th:field="*{workPlace}" id="workPlace">
  <br>

  <input type="submit" value="Update User">
  </form>
</body>
</html>